.root {
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1.7rem 1.5rem;
}

.head {
    display: grid;
    grid-gap: 1.2rem;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-transform: uppercase;
}

.head span img {
    height: 3.5rem;
}

.price {
    grid-column: 1/3;
    color: var(--blue);
    font-size: 2rem;
}

@media all and (max-width: 830px) {
    .root {
        padding: 1rem;
    }
}

@media all and (max-width: 500px) {
    .root {
        padding: .5rem;
    }
    .head {
        grid-gap: .7rem;
    }
}
