.root {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1.5rem;
}

.board {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 1.5rem;
}

.ticket {
    display: grid;
    grid-template-rows: min-content;
    align-self: start;
    grid-gap: 1.5rem;
}

@media all and (max-width: 830px) {
    .root {
        grid-template-columns: 1fr;
        grid-gap: .5rem;
    }

    .board {
        grid-gap: .5rem;
    }

    .ticket {
        grid-gap: .5rem;
    }
}
